<%- include("partials/header") %>
  
    <!-- include startingContent -->
    <div class="justifyContent">
        <div>
            <h1 class="homeStyle">Home</h1>
        </div>

        <p>Welcome to my Daily Journal! I am <strong>John Cañero.</strong> I am an aspiring web developer, programmer, architectural designer and visual artist.</p>
        
        <div class="flex-container1">
            <img class="johncaneroLaptop" src="images/johncaneroLaptop.png" alt="johncaneroLaptop.png">
        </div>
        

        <p><%= startingContent %></p>
        <br>
        <p> When I was learning this type of technology, it helped me to start building something on the Internet Let's go and build something that is valuable and helpful for the world!</p>
        <hr>

            
        <!-- for Each, Outputs the Value Tag (Scriplet) -->
        <% posts.forEach(function(post) { %>
            <h1><%=post.title%></h1>
            <!-- Truncate a string -->
            <p><%=post.content.substring(0, 100) + " ..." %>
                <a href="/posts/<%=post.title%>">Read More</a>
            </p>
        <% }) %>
    </div>

<%- include("partials/footer") %>